{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Quiz - Login {% endblock %}
{% block content %}

    <div class="container">
        <h2>Login</h2>
        <form method="post" class="" >
              <input type="hidden" name="return_url" value="{{ request.GET.next }}" />
{#            {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <button type="submit">Login</button>#}

            {% csrf_token %}
            {% include 'base-form.html' with form=form %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>Login
                </button>
            </div>

        </form>
        <p>Регистрирайте се като <a href="{% url 'register-student' %}?next={{ request.GET.next }}">ученик</a></p>
        <p>Регистрирайте се като <a href="{% url 'register-teacher' %}?next={{ request.GET.next }}">учител</a></p>
    </div>

{% endblock %}