{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="">Регистратционна форма</h2>
        <form method="post" action="" >
            {% csrf_token %}
            {% for form in forms %}
                {% include 'base-form.html' with form=form %}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Регистрирай се
                </button>

            </div>
        </form>
    </div>
{#<form action="" method="post">#}
{#    {% csrf_token %}#}

{#    {{ teacher_form.as_p }}#}
{#    {{ teacher_profile_form.as_p }}#}
{#    <button type="submit">Register</button>#}
{#</form>#}
{% endblock %}