{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container w-25">
   <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
{#        <button type="submit">Create</button>#}
        {% include 'base-form.html' with form=form %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok">Добави</span>
{#                {% if form.instance.id %}Промени{% else %}Добави{% endif %}#}
            </button>
        </div>
    </form>
    </div>

{% endblock %}