{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>Заредете файл, от който да бъде създаден тест</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="quiz-file"></label>
        <input type="file" name="quiz-file" id="quiz-file"></input>
        <button type="submit">Зареди</button>
    </form>
    <div>
        <p>Имената на тестовете трябва да започват със три звезди, т.е. '***'.</p>
        <p>Всеки въпрос трябва да започва с номер и точка и кръгла скоба, т.е. 1.), 2.) и т.н.</p>

        <p>Всеки отговор трябва да започва с две тирета, т.е. "--", като верният отговор трябва да завършва с '@верен'</p>
       Пример:
        ***Планините в България - име на теста
        1.) Коя е най-високата планина в България? - име на въпрос
        -- Пирин
        -- Стара планина
        -- Рила @верен
        -- Родопи
        <p></p>
    </div>
{% endblock %}
