{% extends 'base.html' %}
{% load static %}
{% block title %}Quizee - Home{% endblock %}
{% block content %}
    <h1>Добре дошли в Quizeee!</h1>
    <div>
        Това е сайт за тестове по следните предмети:
        <ul>
            <li>Математика</li>
            <li>Физика</li>
            <li>История</li>
            <li>География</li>
        </ul>
    </div>
    <div>
        За да създадете и възложите тест, е необходимо да се регистрирате като учител.
    </div>
    <div>
        За да отоворите на възложените Ви тестове, е необходимо да се регистрирате като ученик.
    </div>
{% endblock %}