{% extends 'base.html' %}
{% load static %}
{% block title %}Въпрос "{{ question.prompt }}"{% endblock %}
{% block content %}
    <h1>{{ question.title }}</h1>
    <p>Автор: {{ question.quiz.author.first_name }} {{ question.quiz.author.last_name }}</p>
    <p>Предмет: {{ question.subject }}</p>
    {% if not answers %}
        <p>Все още няма зададени отговори за този въпрос.</p>
    {% else %}
        <p>Въпрос: </p>
        <div>{{ question.prompt }}</div>
        <hr>
        Този има следните възможни отговори:

        {% for answer in answers %}
            {% if answer.is_correct %}
                <div>{{ answer.text }} - <strong>ВЕРЕН</strong></div>
            {% else %}
                <div>{{ answer.text }} - Неверен</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr>
    <p>Добвете <a href="{% url 'answer-create' quiz_id=question.quiz.id question_id=question.id %}">отговор.</a></p>

{% endblock %}