{% extends 'base.html' %}
{% load static %}
{% block title %}Test "{{ quiz.title }}"{% endblock %}
{% block content %}
    <a href="{% url 'teacher-detail' quiz.author_id %}">Home</a>
<h1>{{ quiz.title }}</h1>
<p>Автор: {{ quiz.author.first_name }} {{ quiz.author.last_name }}</p>
<p>Предмет: {{ quiz.subject }}</p>
{% if not questions %}
<p>Все още няма зададени въпроси за този тест.</p>
{% else %}
    Този тест съдържа следните въпроси:
    {% for question in questions %}
        <div>
            <div><a href="{% url 'question-detail' question.id %}">{{ question.prompt }}</a></div>
            <div><button><a href="{% url 'question-delete' question.id %}">ИЗТРИЙ</a></button></div>
        </div>

    {% endfor %}
{% endif %}
    <input type="hidden" name="quiz_id" value="{{ quiz.id }}" />
<p>Добвете <a href="{% url 'question-create' pk=quiz.id%}">въпрос.</a></p>

{% endblock %}