{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h2 class="">Създаване на тест</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% include 'base-form.html' with form=form %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> ГОТОВО
                </button>
            </div>
        </form>
    </div>
{% endblock %}